<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm" style="background-color: #0c192b; flex-direction: column;">
        <h1 class="text-center" style="color: white;">POLIZIA DI STATO</h1>
        <div class="d-flex justify-content-center">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <hr />
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Trasgressori", "ListaTrasgressori", "Trasgressore", new { area = "" }, new { @class = "nav-link", style = "color: white;" })</li>
                    <li>@Html.ActionLink("Violazioni", "ListaViolazioni", "Violazione", new { area = "" }, new { @class = "nav-link", style = "color: white;" })</li>
                    <li>@Html.ActionLink("Verbali", "ListaVerbali", "Verbale", new { area = "" }, new { @class = "nav-link", style = "color: white;" })</li>
                    <li>@Html.ActionLink("Totale verbali per trasgressore", "ListaVerbaliTrascrittiPerTrasgressori", "Verbale", new { area = "" }, new { @class = "nav-link", style = "color: white;" })</li>
                    <li>@Html.ActionLink("Totale punti decurtati per trasgressore", "ListaPuntiDecurtatiPerTrasgressore", "Verbale", new { area = "" }, new { @class = "nav-link", style = "color: white;" })</li>
                    <li>@Html.ActionLink("Lista Violazioni Superiori a 10 Punti", "ListaViolazioniSuperioriA10Punti", "Verbale", new { area = "" }, new { @class = "nav-link", style = "color: white;" })</li>
                    <li>@Html.ActionLink("Lista Violazioni Importo Superiore A 400 euro", "ListaViolazioniImportoSuperioreA400", "Verbale", new { area = "" }, new { @class = "nav-link", style = "color: white;" })</li>
                </ul>
            </div>
        </div>
    </nav>
        @RenderBody()
        <hr />
</body>
</html>
